@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: $color-secondary-bg;
  color: $color-text;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  text-align: center;
  padding: $spacing-md $spacing-xs; // 40px top/bottom, 20px left/right
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  box-sizing: border-box;
}

.heading-primary {
  font-size: $font-size-h1;
  color: $color-primary;
  margin-bottom: $spacing-xl;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 41px;

  @include responsive(tablet-md) {
    font-size: 2.5em;
    margin-bottom: $spacing-lg;
  }
  @include responsive(tablet-sm) {
    font-size: 2em;
    margin-bottom: $spacing-md;
  }
  @include responsive(mobile-lg) {
    font-size: 1.8em;
    margin-bottom: $spacing-xs;
  }
}
