// Colors
$color-primary: #000000;
$color-secondary-bg: #f7f9fa;
$color-card-background: #ffffff;
$color-text: #9b9a99; // for review text
$color-quote: #e0e0e0;
$color-arrow: #d1cfcf;
$color-arrow-hover: #007bff;
$color-pagination-inactive: #cccccc;

// Font Sizes
$font-size-h1: 3em; //48px
$font-size-company-name: 1.4em; //22.4px
$font-size-review-text: 1.25em; // ~20px
$font-size-reviewer-name: 1.5em; // ~24px
$font-size-reviewer-position: 1.25em; // ~20px

// Spacing
$spacing-xl: 70px;
$spacing-lg: 60px;
$spacing-md: 40px;
$spacing-sm: 30px;
$spacing-xs: 20px;
$spacing-xxs: 15px;

// Other
$card-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
$arrow-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$border-radius-default: 12px;
$transition-speed: 1s;
$transition-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94); // Smooth transition

//variables for layout calculations
$card-width: 380px; // Ширина однієї картки (для десктопу)
$arrow-width-desktop: 68px; // Для десктопу
$arrow-width-tablet-md: 55px; // Для tablet-md
$arrow-width-tablet-sm: 45px; // Для tablet-sm
